* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.outerHeader
{
  border:4px solid blue;
  border-radius:2px;   
}

.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
  border:2px solid blue;
  border-radius:5px; 
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header a.active:hover {
  border:2px solid blue;
  border-radius:5px;  
}

.header-right {
  float: right;
}

@media screen and (max-width: 1038px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
