
@import "tailwindcss";


html, body, #root {

min-height: 100vh;
margin: 0;
padding:0;

 
}

body
{

  background-image: url('/backgroundImage.jpg');
  background-size:cover;
  background-position: center center;

  cursor: url('/Cursor/Galagaship.png')16 16, auto; 
}

@media screen and (max-width:600px ) {
    body
    {
      background-size: cover;
      background-position: top center;
      background-attachment:fixed;
    }
}

.formProperties 
{
   background-image: url('/InfoCardBackgroundImage.jpg');
  
}



