.titleLogo {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    max-width:90%;
}

.pulse-hover {
  /* No animation by default */
  transition: transform 0.2s ease;
}

.pulse-hover:hover {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.InfoCardStyle
{
  width:100%;
  overflow:hidden;
  display:flex;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
   
}

.InfoCardStyle div
{
 width:95%;
 margin-left: auto;
 margin-right:auto;
 
 
}

.play-btn
{
  margin-top:5%
}

@media screen and (max-width:800px ) {
    .play-btn{
        width:75%;
        min-width: 35%;
        margin-top:10%
    }

    .InfoCardStyle
    {
      flex-direction: column;
      align-items: center;
      padding-bottom:20px;
      max-width: 70%;
    }
  
}

